#card-list {
    list-style: none;
    margin: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  
    li {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  
    article {
      height: 200px;
      background-color: #475357;
      border-radius: 4px;
      position: relative;
  
      .card-info {
        height: 100%;
      }

      .card-info-value{
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        cursor: pointer;
        padding: 20px;

        p{
          text-align: center;
        }
      }

      .card-info-category{
        text-align: center;
        p{
          font-size: 0.8rem;
          color: #c3c3c3;
        }
      }
  
      button {
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
        font: inherit;
        padding: 4px 12px;
        background: transparent;
        border: none;
        color: #d55a5a;
        cursor: pointer;
        background-color: #3f484b;
        border-radius: 3px;
      }
  
      button:hover {
        color: #f9a73b;
      }
    }
  
    .active {
      background-color: rgb(115, 136, 255);
    }
  }
  