@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }

  body {
    min-height: 100vh;
    @apply bg-primary;
  }

  main {
    @apply w-[90%] max-w-[90vw] mx-auto my-12 p-8 bg-primary text-secondary rounded-md shadow-lg;
  }
}

@layer components {
  .card-general-container {
    @apply min-h-[70vh] h-[70vh] overflow-auto border border-gray-600 p-5 rounded-md;
  }

  .login {
    @apply h-20 flex justify-center items-center;
  }
}

@media screen and (max-width: 600px) {
  main {
    @apply w-full max-w-full h-[96vh] my-5 p-[2vh];
  }

  .card-general-container {
    @apply mt-[5vh] min-h-[50vh] h-[50vh] p-2.5;
  }
}